body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #372f25;
}
.clocks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    background-color: beige;
    border-radius: 10px;
    p{
        font-size: 30px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        color: #372f25;
    }
}